body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: aliceblue;
    color: #333;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    background-size: cover;
    background-position: left center;
}

#contenitore-ricerca {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 40%;
    text-align: center;
}

h1 {
    color: #444;
    text-align: center;
    margin-bottom: 20px;
    font-size: 35px;
}

h3 {
    color: #555;
    text-align: center;
    margin-bottom: 30px;
}

h2 {
    margin-top: 20px;
    color: #555;
    text-align: center;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    display: block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px auto;
    width: 100%;
    max-width: 400px;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    background: #fff;
    margin: 10px 0;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li:hover {
    background-color: #e3e3e3;
    cursor: pointer;
}
