.navbar {
    background-color: #232F3E;
}

.navbar .nav-link {
    color: white;
}

.swiper-slide img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.swiper {
    height: 400px;
  }


