body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: blue;
    color: white;
    padding: 15px;
    text-align: center;
    border-bottom: 4px solid grey;
}

header h1 {
    margin: 0;
}

/* Stili per la tabella */
table {
    width: 80%;
    margin: 30px auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

thead {
    background-color: blue;
    color: white;
}

thead th {
    padding: 15px;
    text-align: left;
    border: 1px solid #ddd;
}

tbody td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

/* Stili per immagini nella tabella */
table img {
    max-width: 100px;
    border-radius: 5px;
}

/* Stili per i link */
a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Sezione dei commenti */
section {
    width: 80%;
    margin: 30px auto;
    text-align: center;
}

textarea {
    width: 100%;
    padding: 7px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 15px;
    resize: vertical;
}

button {
    margin-top: 1rem;
    background-color:blue;
    color: white;
    border: none;
    padding: 7px 15px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Stile per il footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 30px;
}

footer p {
    margin: 7px.5rem 0;
}

/*Stile aggiunto con js */
.amazon-link {
    color: rgb(255, 42, 0);
    text-decoration: underline;
    font-weight: bold;
}

/*Stile aggiunto per esercizio 11 */
.hidden {
    display: none;
}
